---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "../components/Greetings";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Awesome Blog Subtitle</h2>
 	<Greetings client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>