---
import Social from './Social.astro';
---

<footer>
  <p>Learn more about my projects on <Social platform="github" username="iryek219" />!</p>
  <Social platform="youtube" username="hwan.shin" />
</footer>

<style>
footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
</style>